<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bucket List</a>
    </div>
    <ul class="nav navbar-nav">
      <li></li>
      <li><a> </a></li>
      <li><a> </a></li>
    </ul>
    <!-- (ngSubmit)="createBucketlist()" #BucketForm="ngForm" -->
    <app-search-bucketlists></app-search-bucketlists>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
<div >
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

